.title__slot {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    position: relative;
    overflow: hidden;
}

  
  .title__slot h3 {
    text-transform:lowercase;
    position: relative;
    // color: #a09f9f;
    color: #f4f4f4;
    background-color: rgba(45, 51, 61, 0.8);
    padding: 3.6% 5%;
    font-size: 3.5em;
    font-weight: 100;
    z-index: 1;
    background-image: url('./img/led-grid.png');
    background-size: cover;
    font-family: 'Ubuntu Mono', monospace;
    :nth-of-type(1){
      margin-left: -5.5%;
    }
  } 

  .first {
    text-align: right;
  }

  .second {
      text-align: left;
  }


  // .t-one {
  //   color: red;
  // }

  // .t-two {
    // color: rgb(86, 198, 86);
  // }

  // .t-three{
  //   color: blue;
  // }

  // .t-four{
  //   color: rgb(141, 27, 247);
  // }

  // .t-five{
  //   color: orange;
  // }

  // .t-six{
  //   color: cyan;
  // }

  // .t-seven{
  //   color: rgb(210, 6, 210);
  // }

  .t-eight{
    animation: blink 
    1.45s linear infinite;  }

  @keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}