@use './components/About/About';
@use './components/App/App';
@use './components/Auth/Auth';
@use './components/Auth/Edit/Edit';
@use './components/Auth/LogIn/LogIn';
@use './components/Auth/LogOut/LogOut';
@use './components/Auth/SignUp/SignUp';
@use './components/BuyPacks/BuyPacks';
@use './components/Card/Card';
@use './components/Collection/Collection';
@use './components/Collection/OpenPacks/OpenPacks';
@use './components/Collection/OpenPacks/Modal/Modal';
@use './components/Collection/OpenPacks/NewCard/NewCard';
@use './components/Collection/OpenPacks/NewCard/NewCard';

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #202020;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    user-select: none;

    &::-webkit-scrollbar {
        display: none;
    }

  }
