.charCard {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    width: 10.5vw;
    height: 27vh;
    border-radius: 5px;



    &:hover{
        z-index: 10;
        transform: scale(1.3);
    }


    .charCard-info-container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff

        }
    
    
}

.bronze {
    background-color: #cd7f32;
}

.silver {
    background-color: rgb(175, 174, 171);
}

.gold {
    background-color: rgb(214, 172, 110);
}

.holo {
    // background-image: linear-gradient(to left,rgb(117, 202, 213), rgb(238, 167, 238), rgb(157, 108, 192), rgb(117, 202, 213), rgb(157, 108, 192),  rgb(238, 167, 238),rgb(117, 202, 213));
    // color: transparent;
    background-image: linear-gradient(
        to right,
        rgb(194, 255, 182),
        rgb(255, 163, 182),
        rgb(221, 169, 255),
        rgb(162, 209, 255)
    );
  }


.unopened{
    background-color: rgb(8, 8, 8);


    .charCard-info-container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(8, 8, 8);
        visibility: hidden;
        }
}