.charCard {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    width: 10.5vw;
    height: 27vh;
    border-radius: 5px;

    &:hover{
        z-index: 10;
        transform: scale(1.3);
    }


    .charCard-info-container{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff
        
        }
    
}
