.displayCards-page {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}

.yourCards-container {
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-evenly;
    // min-height: 100vh;
    width: 70%;
    z-index: 99;
}

.back_button-yc {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    // margin-top: -307%;
    z-index: 98;
    top: -.5vh;
    left: 0vw;
    

    h3 {
        text-transform: uppercase;
        position: fixed;
        text-align: center;
        color: #45758C;
        background-color: rgba(45, 51, 61, 0.8);
        padding: 2% 2%;
        font-size: 1em;
        font-weight: 300;
        z-index: -1;
        background-image: url('../../../img/led-grid.png');
        background-size: cover;
    }

    >div>h3 {
        font-size: 2em;
        font-weight: bold;
        min-width: 20%;
        max-width: 20%;
        text-align: left;
        // color: #79D9FF;
        color: #bbbbbb;
        transition: .5s ease;


        &:hover{
                   color: #f4f4f4; 
                   transition: .5s ease;
        }

    }

}

.yourCards-filter-container {
    position: fixed;
    z-index: 200;
    // margin-top: 3.5%;
    // margin-bottom: -5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // color: rgba(65, 65, 65, 0.729);
    color: rgba(102, 102, 102, 0.747);
    top: 5%;
    background-color: transparent;
    transition: .5s ease;
    padding-left: 3.25%;


    &:hover{
        background-color: rgba(35, 35, 35, 0.898);
        transition: .5s ease;
        border-radius: 10px;
        color: rgba(127, 126, 126, 0.747);

    }
}


.yourCards-tab {
    align-self: center;
    justify-self: center;
    // height: 5vh;
    font-size: larger;
    transition: .5s ease;
    // padding-top: .75%;
    margin-right: 7.5%;

    &:hover {
        cursor: pointer;
        color: rgba(209, 209, 209);
    }

    &:active {
        color: #45758C;
    }
}

.selected {
    color: #fff
}

.count-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 5%;
    left: 25%;
    align-items: center;
    transition: .5 ease;
    color: rgba(102, 102, 102, 0.747);
    // z-index: 200;



    &:hover {
        color: rgba(148, 148, 148, 0.747);
        background-color: rgba(35, 35, 35, 0.898);
        transition: .5 ease;
    }


    &:nth-child(1) {
        // margin-top: -5%;
        margin-bottom: -5%;
    }
}

.yourCards-Cards-Count {
    align-self: center;
    justify-self: center;
    height: 5vh;
    font-size: 110%;
    transition: .5s ease;
    padding-top: .75%;
    // margin-right: 7.5%;

    &:nth-of-type(1) {
        margin-bottom: -32.75%;
    }

    b{
        margin-left: 5%;
        color: rgba(213, 213, 213, 0.857);
    }
}

.search-input {
    background-color: rgba(54, 54, 54, 0.709);
    border: none;
    border-radius: 6px;
    // margin-bottom: 2.75%;
    font-size: larger;
    margin-left: 5%;
    color: #fff;
    padding-top:1%;
    padding-bottom:1%;
    padding-left: 1.5%;
    padding-right: -2%;
    transition: .5s ease;

    &:focus{
        transition: .5s ease;
        background-color: rgba(35, 35, 35, 0.898);

    }
}


.yourCards-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0; 
    background-color: rgba(56, 55, 55, 0.406);
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}