.displayCards-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yourCards-container {
  margin-top: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  width: 70%;
  z-index: 99;
}

.back_button-yc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 98;
  top: -.5vh;
  left: 0vw;
}

.back_button-yc h3 {
  text-transform: uppercase;
  position: fixed;
  text-align: center;
  color: #45758C;
  background-color: rgba(45, 51, 61, 0.8);
  padding: 2% 2%;
  font-size: 1em;
  font-weight: 300;
  z-index: -1;
  background-image: url("../../../img/led-grid.png");
  background-size: cover;
}

.back_button-yc > div > h3 {
  font-size: 2em;
  font-weight: bold;
  min-width: 20%;
  max-width: 20%;
  text-align: left;
  color: #bbbbbb;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.back_button-yc > div > h3:hover {
  color: #f4f4f4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.yourCards-filter-container {
  position: fixed;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(102, 102, 102, 0.747);
  top: 5%;
  background-color: transparent;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-left: 3.25%;
  margin-left: 10%;
}

.yourCards-filter-container:hover {
  background-color: rgba(35, 35, 35, 0.898);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 10px;
  color: rgba(127, 126, 126, 0.747);
}

.yourCards-tab {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: larger;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-right: 7.5%;
}

.yourCards-tab:hover {
  cursor: pointer;
  color: #d1d1d1;
}

.yourCards-tab:active {
  color: #45758C;
}

.selected {
  color: #fff;
}

.count-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 15%;
  left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5 ease;
  transition: .5 ease;
  color: rgba(102, 102, 102, 0.747);
}

.count-container:hover {
  color: rgba(148, 148, 148, 0.747);
  background-color: rgba(35, 35, 35, 0.898);
  -webkit-transition: .5 ease;
  transition: .5 ease;
}

.count-container:nth-child(1) {
  margin-bottom: -5%;
}

.yourCards-Cards-Count {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 5vh;
  font-size: 110%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-top: .75%;
}

.yourCards-Cards-Count:nth-of-type(1) {
  margin-bottom: -32.75%;
}

.yourCards-Cards-Count b {
  margin-left: 5%;
  color: rgba(213, 213, 213, 0.857);
}

.search-input {
  background-color: rgba(54, 54, 54, 0.709);
  border: none;
  border-radius: 6px;
  font-size: larger;
  margin-left: 5%;
  color: #fff;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 1.5%;
  padding-right: -2%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.search-input:focus {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: rgba(35, 35, 35, 0.898);
}

.yourCards-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(56, 55, 55, 0.406);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardsource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.yourCards-source-container {
  position: fixed;
  z-index: 201;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(102, 102, 102, 0.747);
  top: 2.5%;
  left: 43%;
  background-color: transparent;
  padding-left: 1.25%;
  padding-right: 1.25%;
}

.yourCards-source-container:hover {
  background-color: rgba(35, 35, 35, 0.898);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-radius: 10px;
  color: rgba(127, 126, 126, 0.747);
}

.yourCards-source-tab {
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 125%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-top: 2.75%;
  padding-bottom: 2.75%;
}

.yourCards-source-tab:hover {
  cursor: pointer;
}

.yourCards-source-tab:active {
  color: #45758C;
}

.source-selected {
  color: #c47f7f;
}

.list-choice {
  width: 45vw;
  margin: 1em auto;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}

.list-choice input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.list-choice-title {
  width: 100%;
  display: block;
  background-color: rgba(35, 35, 35, 0.898);
  text-align: center;
  padding: 0.55em .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(127, 126, 126, 0.747);
  border-radius: 0.2em;
}

.list-choice:hover .list-choice-title {
  border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span {
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type="radio"] + span {
  color: rgba(102, 102, 102, 0.747);
  background-color: rgba(35, 35, 35, 0.709);
  padding: 0.55em 1em;
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  width: 100%;
}

.list-choice-objects {
  position: absolute;
  top: 0;
  padding-top: 2.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.list-choice:hover .list-choice-objects input[type="radio"] + span {
  position: relative;
  top: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"] + span:hover {
  background: #BBB;
}

.list-choice:hover input[type="radio"]:checked + span:hover {
  background: #202121;
}

.list-choice input[type="radio"]:checked + span {
  background-color: rgba(54, 54, 54, 0.85);
  color: rgba(255, 255, 255, 0.74);
  position: absolute;
  top: 0em;
  border-radius: 0.2em;
}

.list-choice:hover input[type="radio"]:checked + span {
  border-radius: 0;
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked + span {
  border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
  max-height: 540px;
}
/*# sourceMappingURL=YourCards.css.map */