.yourCards-container {
    display: flex;
    justify-content: center;
    flex-wrap: flex;
    align-items: center;
    align-content: center;
    min-height: 100vh;
}

.card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
}

.card3d:hover {
    z-index: 10;
    transform: scale(1.3);
}

.card3d,
.card3d img {
    transition: all 250ms ease-out;
}

.card {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
}

.noImage {
    background-color: rgb(234, 221, 202);
    width: 12vw;
    height: 30vh;
    // width:180px;
    // height:250px;
    border-radius: 5px;
}

.card:hover {
    z-index: 10;
    transform: scale(1.3);
}

.card,
.card .noImage {
    transition: all 250ms ease-out;
}


.back_button-yc {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
    // cursor: pointer;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: -57%;


    h3 {
        text-transform: uppercase;
        position: relative;
        text-align: center;
        color: #45758C;
        background-color: rgba(45, 51, 61, 0.8);
        padding: 2% 2%;
        font-size: 1em;
        font-weight: 300;
        z-index: -1;
        background-image: url('../../../img/led-grid.png');
        background-size: cover;
    }

    >div>h3 {
        font-size: 2em;
        font-weight: bold;
        min-width: 20%;
        max-width: 20%;
        text-align: left;
        color: #79D9FF;
    }
    
}