.displayCards-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yourCards-container {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  width: 70%;
  z-index: 100;
}

.back_button-yc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  z-index: 99;
  top: -.5vh;
  left: 0vw;
}

.back_button-yc h3 {
  text-transform: uppercase;
  position: fixed;
  text-align: center;
  color: #45758C;
  background-color: rgba(45, 51, 61, 0.8);
  padding: 2% 2%;
  font-size: 1em;
  font-weight: 300;
  z-index: -1;
  background-image: url("../../../img/led-grid.png");
  background-size: cover;
}

.back_button-yc > div > h3 {
  font-size: 2em;
  font-weight: bold;
  min-width: 20%;
  max-width: 20%;
  text-align: left;
  color: #bbbbbb;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.back_button-yc > div > h3:hover {
  color: #f4f4f4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.yourCards-filter-container {
  z-index: 5;
  margin-top: 3.5%;
  margin-bottom: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgba(102, 102, 102, 0.747);
  top: 25%;
}

.yourCards-tab {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 5vh;
  font-size: larger;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-top: .75%;
  margin-right: 7.5%;
}

.yourCards-tab:hover {
  cursor: pointer;
}

.yourCards-tab:active {
  color: #45758C;
}

.selected {
  color: #fff;
}

.count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -20.5%;
  margin-right: 22%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count-container:nth-child(1) {
  margin-bottom: -5%;
}

.yourCards-Cards-Count {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 5vh;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-top: .75%;
}

.yourCards-Cards-Count:nth-of-type(1) {
  margin-bottom: -35%;
}

.yourCards-Cards-Count b {
  margin-left: 5%;
  color: rgba(213, 213, 213, 0.857);
}

.search-input {
  background-color: rgba(54, 54, 54, 0.709);
  border: none;
  border-radius: 6px;
  margin-bottom: 2.75%;
  font-size: larger;
  margin-left: 5%;
  color: #fff;
  padding-left: 1.5%;
  padding-right: -2%;
}

.yourCards-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(56, 55, 55, 0.406);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=YourCards.css.map */