.logout-button {
  margin-bottom: 2.5%;
  border: 1px solid transparent;
  background-color: rgb(53, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  width: 40%;
  transition: .25s ease;
  font-size: 150%;
  border-radius: 4.5px;
  text-align: center;

  &:hover {
    border: 1px solid transparent;
    color: #79D9FF;
    transition: .5s ease;
  }

  &:active {
    transform: scale(0.95);
    // background-color: #cccecf;
    background-color: rgb(16, 16, 16);
    color: rgb(255, 255, 255);
  }
}

.logout-confirm{
  margin-top: 10%;
  margin-bottom: 2.5%;
  border: 1px solid transparent;
  background-color: rgb(53, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  width: 30%;
  transition: .25s ease;
  font-size: 150%;
  border-radius: 4.5px;
  text-align: center;
}