.charCard-yc {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    width: 10.65vw;
    height: 27vh;
    border-radius: 5px;
    transition: .5s ease;




    &:hover {
        z-index: 10;
        transform: scale(1.5);
        border: 1px solid rgba(0, 0, 0, 0.24);
        transition: .5s ease;
    }

    .charCard-yc-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(255, 255, 255, 0.584)
    }

    .charCard-image {
        // margin-top: 5%;
        height: 21vh;
        width: 10.65vw;
        // height: 17vh;
        // max-width:230px;
        max-height: 21vh;
        max-width: 10.65vw;
        // width: auto;
        // height: auto;
        // border-radius: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 5%;

    }

    .charCard-text{
        align-self: flex-start;
        margin-left: 2.5%;
        font-size: smaller;

    }

    .charCard-rarity {
        // margin-right: 2.5%;
        font-size: smaller;
        margin-top: 2%;
        margin-bottom: 0.75%;
    }

    .charCard-id {
        // margin-right: 2.5%;
        font-size: smaller;
        margin-top: 2%;
        margin-bottom: 0.75%;
    }

}

.bronze {
    background-color: #cd7f32;
}

.silver {
    background-color: rgb(175, 174, 171);
}

.gold {
    background-color: rgb(214, 172, 110);
}

.holo {
    // background-image: linear-gradient(to left,rgb(117, 202, 213), rgb(238, 167, 238), rgb(157, 108, 192), rgb(117, 202, 213), rgb(157, 108, 192),  rgb(238, 167, 238),rgb(117, 202, 213));
    // color: transparent;
    background-image: linear-gradient(to right,
            rgb(194, 255, 182),
            rgb(255, 163, 182),
            rgb(221, 169, 255),
            rgb(162, 209, 255));
}


.unopened {
    background-color: rgb(8, 8, 8);


    .charCard-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(8, 8, 8);
        visibility: hidden;
    }
}