.user-identification{
    position: fixed;
    opacity: 100;
    color: #bbbbbb;
    z-index: 150000;
    margin-left: 75.5%;
    cursor: default;
    font-family: 'Ubuntu Mono', monospace;
}

.hidden{
    visibility: hidden;
}