.signup__slot {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
  // cursor: pointer;
  background-color: whitesmoke;
  background: linear-gradient(140deg, rgb(216, 224, 221), rgb(135, 206, 250), rgb(0, 255, 174));
  display: flex;
  flex-direction: column;

}

  
.slot-item-1 {
  margin-top: 45vh;
}



.signup__slot h3 {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: #45758C;
  background-color: rgba(45, 51, 61, 0.8);
  padding: 3.6% 5%;
  font-size: 2em;
  font-weight: 300;
  z-index: 1;
  background-image: url('./led-grid.png');
  background-size: cover;
}

.signup__slot > div > h3 {
  font-size: 2.45em;
  font-weight: bold;
  min-width: 80%;
  max-width: 80%;
  text-align: left;
  color: #79D9FF;
}


.signup-input {
	background-color: rgb(53, 51, 51);
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  z-index: 100;
  color: #fff
}

.signup-button {
	// border-radius: 20px;
	border: 1px solid transparent;
	background-color: rgb(53, 51, 51);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
  width: 30%;
  transition: .25s ease;

  &:hover{
	border: 1px solid transparent;
  color: #79D9FF;
  transition: .5s ease;
}
 &:active{
	transform: scale(0.95);
  background-color: #45758C;

 }
}

.signup-input-fullname{
	flex-direction: row;
	justify-content: center;
}

.signup-input-name {
	background-color: rgb(53, 51, 51);
	border: none;
	padding: 12px 15px;
	// margin: 8px 4px;
	/* margin-right: 2.5%; */
	width: 45%;
  color: #fff
}

.signup-input-name:nth-child(1) {
  // margin-left: .75%;
  margin-right: .5%;
}
