.signup__slot {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
  // cursor: pointer;
  background-color: whitesmoke;
  background: linear-gradient(100deg, rgb(242, 163, 202), rgb(203, 226, 233), rgb(77, 148, 241), );
  display: flex;
  flex-direction: column;

}


.slot-item-1 {
  margin-top: 45vh;
}



.signup__slot h3 {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  color: #f4f4f4;


  background-color: rgba(45, 51, 61, 0.8);
  padding: 3.6% 5%;
  font-size: 2em;
  font-weight: 300;
  z-index: 1;
  background-image: url('./led-grid.png');
  background-size: cover;
}

.signup__slot>div>h3 {
  font-size: 2.45em;
  font-weight: bold;
  min-width: 80%;
  max-width: 80%;
  text-align: left;
  color: #f4f4f4;

}


.signup-input {
  background-color: rgb(53, 51, 51);
  border: none;
  padding: 2.5%;
  margin-bottom: 1.5%;
  width: 50%;
  z-index: 100;
  color: #fff;
  font-size: 175%;
  font-weight: 200;
  transition: .5s;
  border-radius: 4.5px;

  &.auth-name {
    width: 37.5%;

    &:nth-child(1){
      margin-right: 1%;
    }
  }

  &:focus {
    background-color: rgb(16, 16, 16);
  }
}

.signup-button {
  // border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgb(53, 51, 51);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  width: 30%;
  transition: .25s ease;

  &:hover {
    border: 1px solid transparent;
    color: #79D9FF;
    transition: .5s ease;
  }

  &:active {
    transform: scale(0.95);
    background-color: #45758C;

  }



}

.signup-input-fullname {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  max-width: 63.75%;
}