.pack {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    width: 18vw;
    height: 43vh;
    border-radius: 10px;

    &:hover {
        z-index: 10;
        transform: scale(1.1) // width: 20vw;
            // height: 45vh;
    }


}

.booster {
    background-color: rgb(49, 69, 116);
}

.regular {
    background-color: #cd7f32;
}

.pro {
    background-color: rgb(175, 174, 171);
}

.max {
    background-color: rgb(214, 172, 110);
}

.ultra {
    background-color: rgb(110, 207, 214);
}

.studio {
    background-color: rgb(172, 110, 214);
}

.buy-more {
    background-color: rgb(104, 178, 135);
}

.buy {
    color: rgba(0, 0, 0, 0.39) !important;
}

.pack-info-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #fff
}


.pack-information{
    position: absolute;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    z-index: 15;
    top: 63%;
    color: #fff;
    display:flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.88);
}


.pack-cost {
    width: 18vw;
    font-size: 4.5vh;

    &:active {
        color: #79D9FF;

    }
}

.locked {

    b {
        text-decoration: line-through;
        color: rgb(231, 106, 106);
    }
}