.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.573);
  z-index: 100;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  background-color: white;
}

.cardInformation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: -5%;
}

.selectedCard {
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.selectedCard :hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.market-information-container {
  margin-left: -25%;
  width: 27vw;
  height: 38.125vh;
  background-color: #515151;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
  -webkit-perspective: 600px;
          perspective: 600px;
  border-radius: 5px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #1e1e1e;
  color: #282828;
  text-transform: uppercase;
  font-size: large;
  margin-bottom: .5%;
}

.history-title b {
  color: #afafaf;
}

.history-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1e1e1e;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: 400;
  border-top: 2px solid #282828;
  margin-top: .25%;
  margin-bottom: .25%;
}

.history-summary b {
  color: #afafaf;
}

.history-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 62.5%;
  width: 100%;
  background-color: #1d1d1d;
  color: #383838;
  text-transform: uppercase;
}

.tx-graph {
  overflow-x: hidden;
  margin-left: -32.5%;
}

.history-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #2f2f2f;
}

.history-tab {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 2vh;
  font-size: 70%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-top: .75%;
  background-color: #2f2f2f;
  color: #555555;
}

.history-tab:hover {
  cursor: pointer;
}

.history-tab:active {
  color: #45758C;
}

.selected {
  color: rgba(255, 255, 255, 0.823);
}

.transaction-row {
  font-size: 75%;
  margin-left: 2.5%;
}

.transaction-row b {
  color: #828282;
}

.transaction-row:nth-of-type(1) {
  margin-top: 1%;
}

.button-wrapper {
  margin-top: .5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cardInformation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  background-color: rgba(28, 28, 28, 0.8);
  color: #bbbbbb;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
  padding: 3% 4%;
  font-size: 1.75vh;
  font-weight: 300;
}

.cardInformation-button:hover {
  color: #f4f4f4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.saleprice-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  background-color: rgba(28, 28, 28, 0.8);
  color: #bbbbbb;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Ubuntu Mono', monospace;
  text-transform: uppercase;
  padding: 3% 4%;
  font-weight: 300;
  text-align: center;
}

.saleprice-input:hover {
  color: #f4f4f4;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.saleprice-input::-webkit-input-placeholder {
  text-align: center;
}

.saleprice-input:-ms-input-placeholder {
  text-align: center;
}

.saleprice-input::-ms-input-placeholder {
  text-align: center;
}

.saleprice-input::placeholder {
  text-align: center;
}
/*# sourceMappingURL=CardInformation.css.map */