.pack {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
    cursor: pointer;
    background-color: rgb(109, 109, 109);
    width: 18vw;
    height: 43vh;
    border-radius: 10px;
    transition: .5s ease;

    &:hover{
        z-index: 10;
        transform: scale(1.1);
        transition: .5s ease;

    }

    
}

.booster {
    background-color: rgb(49, 69, 116);
}

.regular {
    background-color: #cd7f32;
}

.pro {
    background-color: rgb(175, 174, 171);
}

.max {
    background-color: rgb(214, 172, 110);
}

.ultra {
    background-color: rgb(110, 207, 214);
}

.studio {
    background-color: rgb(172, 110, 214);
}

.buy-more{
    background-color: rgb(104, 178, 135);
}


// .pack ,
// .card .noImage {
//     transition: all 250ms ease-out;
// }

.pack-info-container{ 
display: flex;
flex-direction: column;
justify-content: center;
color: #fff
}

// .pack-icon{
//     height: 25vh;
//     filter: opacity(.5);
// }

.pack-count{
    font-size: large;
    margin-bottom: 2.5%;
    // font-weight: bold;
    color: rgba(255, 255, 255, 0.755);
}


.pack-title{
    font-size: larger;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.384); 
}


.top{
    margin-top: 2.5%;
    // transform: scale(-1, -1);
    margin-bottom: 7.5%;    
}


.inverse {
    transform: scale(-1, -1); 
}

.booster-text {
    color: rgb(2, 28, 88);
}

.regular-text {
    color: #b05901;
}

.pro-text {
    color: rgb(131, 130, 127);
}

.max-text {
    color: rgb(155, 117, 3);
}

.ultra-text {
    color: rgb(1, 149, 159);
}

.studio-text {
    color: rgb(108, 8, 175);
}

.buy-more-text{
    color: rgb(9, 133, 61);
}

.pack-logo{
    height: 30vh;
    filter: opacity(.35);
    margin-top: -2.5% 
  }